/* General styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  color: #007bff;
}

/* Hero Section */
.hero {
  position: relative;

  height: 400px;
  background-image: url('/public/welcome_image.jpg');
  /* Set your background image here */
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay h1 {
  color: white;
  font-size: 48px;
  margin: 0;
}